/* Begin Pillar controls */

@font-face {
		font-family: coolvetica;
		src:url(fonts/coolvetica.ttf);
}

body {
  font-family: Palatino, serif;
  position: relative;
}


.pillar-container {
  height: 400px;
  position: relative;
  top:-20px;
}

.pillar-container>*{
  position: relative;
  background-color: #F77;
  transform: skewY(10deg);
  width:150px;
  margin-left: auto;
  margin-right: auto;
}

.pillar-upper {
  height: 240px;
}

.pillar-lower {
  height: 60px;
  top: 10px;
  left: 10px;
}

/* End Pillar controls */
/* Begin Traitbox controls */

#title {
    font-weight: normal;
    text-align: center;
    margin: auto;
    color: #F77;
    font-size: 30pt;
}


@media screen and (max-width: 600px) {
  .traits-box {
    display: block;
    margin: 0 auto;
    margin-bottom: 50px;
    min-width: 0;
  }
  .traits-list {
    position:relative;
  }
}
